.car-image {
  height: 11rem;
  border-radius: 1rem;
  width: 18rem;
  object-position: 0 0;
  object-fit: cover;
}

.card {
  display: flex;
  justify-content: center;
  margin: 0;
}

.card :hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.card :active {
  transform: scale(0.95);
  transition: all 0.1s ease;
}

.car-name {
  display: flex;
  justify-content: center;
}

.car-title-wrapper {
  display: flex;
  gap: 1rem;
}

.car-title {
  margin: 0.5rem 0;
  font-size: 1.75rem;
}
