.car-image {
  height: 12rem;
  border-radius: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  margin: 0;
}

.card :hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
