.dropdownButtonWrapper {
  position: relative;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.dropdownButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1vh;
  background-color: #f4f9fe;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 2vh;
  border-radius: 1vh;
  padding: 1.5vh;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
  color: #54595e;
  font-weight: 500;
  font-family: inherit;
}

.dropdownButton:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.DdBlabel {
  cursor: pointer;
}

.optionsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25vh;
}

.dropdownButtonInsideWrapper {
  display: flex;
  align-items: center;
  width: calc(50% - 0.25vh);
}

.dropdownButtonInside {
  background-color: #f4f9fe;
  font-size: 2vh;
  border-radius: 0.5vh;
  padding: 1vh;
  color: #54595e;
  width: 100%;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
}

.dropdownButtonInside:hover {
  cursor: pointer;
  background-color: #e3e3e3;
}

.arrowWrapper {
  display: flex;
  width: 100%;
}

.arrowButtonWrapper {
  display: flex;
  align-items: center;
  width: calc(50% - 0.25vh);
}

.arrowButton {
  background-color: #f4f9fe;
  font-size: 2vh;
  border-radius: 0.5vh;
  padding: 1vh;
  color: #0062c4;
  width: 100%;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  transition: transform 0.5s ease;
}

.arrowButton:hover {
  cursor: pointer;
}

.arrowButtonLeft:hover {
  transform: translateX(-10px);
}

.arrowButtonRight:hover {
  transform: translateX(10px);
}

.dropdownArrow {
  border: solid #abb5be;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrowLeft {
  border: solid #0062c4;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(135deg);
}

.arrowRight {
  border: solid #0062c4;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(-45deg);
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  border-radius: 10px;
  margin-top: 5px;
  z-index: 1;
  padding: 0.25rem;
  background-color: #f4f9fe;
  border: 1px solid #d8dde2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #54595e;
  width: 240px;
  /* Next two lines are important for the cool effect*/
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  /* Fjern de to linjene under dersom dropdown ikke skal være sentrert i forhold til dropdownButton */
  left: 50%;
  transform: translateX(-50%);
}

.dropdown.active {
  max-height: 500px;
  opacity: 1;
}

.dropdown.closed {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 450px) {
  .dropdown {
    width: 180px;
  }

  .dropdownButtonInside {
    padding: 0.75vh 0.25vh 0.75vh 0.25vh;
    font-size: 1.75vh;
    word-break: break-all;
  }

  .dropdownButtonInsideWrapper {
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;
  }
}

.clearButton {
  margin-left: 1rem;
  background-color: #202020;
  border: none;
}

.clearButton img {
  width: 20px;
}

.clearButton:hover {
  cursor: pointer;
}
