.dropdown-button-wrapper {
  position: relative;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.dropdown-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1vh;
  width: fit-content;
}

.dropdown-button.active {
  border-color: red;
}

.dropdown-button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.ddb-label {
  cursor: pointer;
  width: max-content;
}

.options-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25vh;
  margin: 0;
  padding: 0;
}

.dropdown-button-inside-wrapper {
  display: flex;
  align-items: center;
  min-width: fit-content;
  width: calc(50% - 0.25vh);
}

.dropdown-button-inside {
  font-size: 2vh;
  border-radius: 0.5vh;
  padding: 1vh;
  background-color: #232323;
  color: silver;
  width: 100%;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
}

.dropdown-button-inside:hover {
  cursor: pointer;
  background-color: #181818;
}

.arrow-wrapper {
  display: flex;
  width: 100%;
}

.arrow-button-wrapper {
  display: flex;
  align-items: center;
  width: calc(50% - 0.25vh);
}

.dropdown-arrow-button {
  background-color: #232323;
  font-size: 2vh;
  border-radius: 0.5vh;
  padding: 1vh;
  color: red;
  width: 100%;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  transition: transform 0.5s ease;
}

.dropdown-arrow-button:hover {
  cursor: pointer;
  background-color: #232323;
}

.arrow-button-left:hover {
  transform: translateX(-10px);
}

.arrow-button-right:hover {
  transform: translateX(10px);
}

.dropdown-arrow {
  border: solid #abb5be;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-left {
  border: solid red;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(135deg);
}

.arrow-right {
  border: solid red;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(-45deg);
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  border-radius: 10px;
  margin-top: 5px;
  z-index: 1;
  padding: 0.25rem;
  background-color: #232323;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 240px;
  /* Next two lines are important for the cool effect*/
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  /* Fjern de to linjene under dersom dropdown ikke skal være sentrert i forhold til dropdownButton */
  left: 50%;
  transform: translateX(-50%);
}

.dropdown.active {
  max-height: 500px;
  opacity: 1;
}

.dropdown.closed {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.clear-button:hover {
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 450px) {
  .dropdown {
    width: 180px;
  }

  .dropdown-button-inside {
    padding: 0.75vh 0.25vh 0.75vh 0.25vh;
    font-size: 1.75vh;
    word-break: break-all;
  }

  .dropdown-button-insideWrapper {
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;
  }
}

.clear-button {
  margin-left: 1rem;
  background-color: #202020;
  border: none;
}

.clear-button img {
  width: 20px;
}

.clear-button:hover {
  cursor: pointer;
}
