.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 9vh;
}

.header-logo {
  position: absolute;
  left: 0px;
  height: 5rem;
  filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.5));

}

.gray-text-logo {
  filter: none;
}
.gray-text-logo:hover {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
}

.normal {
  text-decoration: none;
  border-bottom: 0.2rem solid rgb(255, 0, 0);
}

h1 {
  margin: 0;
}

.grey-text {
  opacity: 0.5;
  border-bottom: 0.2rem solid rgba(255, 0, 0, 0);
}

.grey-text:hover {
  opacity: 1;
  border-bottom: 0.2rem solid #ffffff;
}

.pages-menu {
  display: flex;
  justify-content: flex-end;
  border-radius: 1rem;
  gap: 2rem;
  padding: 1rem 0;
  font-size: 1.3rem;
}

.checkbtn {
  margin-top: 1rem;
  display: none;
}

.check {
  display: none;
}

.burger-menu {
  height: 2.5rem;
  margin-right: 0.5rem;
}

@media (orientation: portrait) {
  .header-logo {
    height: 4rem;
  }

  .header-container {
    justify-content: right;
  }

  .checkbtn {
    display: block;
  }

  .pages-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: center;
    background-color: #202020;
    top: 5rem;
    left: -100%;
    padding: 0;
    z-index: 100;
    text-align: center;
    transition: all 0.5s;
  }

  .check:checked ~ .pages-menu {
    left: 0;
  }
}
