.review-container {
  display: grid;
  justify-content: center;
}

.no-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(40vh - 80px);
}

.explore-link {
  color: red;
  text-decoration-color: red;
}
