.conteiner {
  padding: 100px 0;
}

.element {
  width: 5px;
  height: 50px;
  background-color: #ff0d00;
  border-radius: 5px;
}

.scrollingMenuHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;
}


/* Set the scrollbar size and background for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 10px; /* width of the vertical scrollbar */
  height: 5px; /* height of the horizontal scrollbar */
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* background color of the scrollbar track */
}

/* Set the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    0,
    0,
    0.5
  ); /* Change this to your desired thumb color */
  border-radius: 10px;
  border-right: none;
  border-left: none;
}

/* Set the color of the scrollbar for Firefox */
body {
  scrollbar-color: rgba(255, 0, 0, 0.2) rgba(0, 0, 0, 0); /* thumb and track color */
}

/* Vite is overwriting the CSS, so I'm adding it here */
.react-horizontal-scrolling-menu--scroll-container  {
  display: flex;
  height: max-content;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.react-horizontal-scrolling-menu--scroll-container.rtl  {
  direction: rtl;
}

.react-horizontal-scrolling-menu--inner-wrapper {
  display: flex;
  overflow-y: hidden;
}

.react-horizontal-scrolling-menu--wrapper {
  display: flex;
  flex-direction: column;
}

.react-horizontal-scrolling-menu--footer,.react-horizontal-scrolling-menu--header {
  width: 100%;
}

.react-horizontal-scrolling-menu--arrow-left  {
  display: flex;
  
}

.react-horizontal-scrolling-menu--arrow-right {
  display: flex;
}

