.filterMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    flex-wrap: wrap;
}

.dropdown-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 30px 15px;
    flex-basis: calc(15%);
}

@media (max-width: 1230px) {
    .dropdown-flex {
        flex-basis: calc(35%);
        margin: 50px 15px 50px 15px;
    }

    
}
@media (max-width: 540px) {
    .dropdown-flex {
        flex-basis: calc(45%);
        margin: 70px 15px 50px 70px;
    }
}

.carList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
  
.car {
    flex-basis: calc(25% - 30px); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 15px 20px 15px;
}

.view-more-button {
    display: flex;
    justify-content: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.view-more-button button {
    margin-top: 1.25rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.75rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    font-family: inherit;
    color: #54595e;
    font-weight: 500;
    font-size: 2vh;
    background-color: #f4f9fe;
}
  
.view-more-button button:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    cursor: pointer;
}

@media (max-width: 1438px) {
    .car {
        flex-basis: calc(33% - 30px); 
    }
}

@media (max-width: 1089px) {
    .car {
        flex-basis: calc(50% - 30px);
    }
}

@media (max-width: 738px) {
    .car {
        flex-basis: calc(100% - 30px);
    }
}