.header-container {
  display: flex;
  justify-content: center;
}

.link-flex {
  display: flex;
}

.normal {
  text-decoration: none;
  border-bottom: 0.2rem solid rgb(255, 0, 0);
}

h1 {
  margin: 0;
}

.grey-text {
  opacity: 0.5;
  border: none;
}

.grey-text:hover {
  opacity: 1;
  border-bottom: 0.2rem solid #ffffff;
}

.pages-menu {
  display: flex;
  justify-content: flex-end;
  border-radius: 1rem;
  gap: 2rem;
}

.checkbtn {
  margin-top: 1rem;
  display: none;
}

.check {
  display: none;
}

.burger-menu {
  height: 3rem;
}

@media (orientation: portrait) {
  .header-container {
    justify-content: left;
  }

  .checkbtn {
    display: block;
  }

  .pages-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: center;
    background-color: #202020;
    top: 5rem;
    left: -100%;
    padding: 0;
    z-index: 100;
    text-align: center;
    transition: all 0.5s;
  }

  .check:checked ~ .pages-menu {
    left: 0;
  }
}
